<div class="row" no-margin>
    <div no-padding class="col-xs-4 text-center" *ngFor="let number of numbers">
        <ion-card padding (click)="addNumber(number)">
            <ion-card-title>{{number}}</ion-card-title>
        </ion-card>
    </div>
    <div no-padding class="col-xs-4 text-center">
        <ion-card padding (click)="clear()">
            <ion-card-title>CLEAR</ion-card-title>
        </ion-card>
    </div>
    <div no-padding class="col-xs-4 text-center">
        <ion-card padding (click)="multiply(10)">
            <ion-card-title>0</ion-card-title>
        </ion-card>
    </div>
    <div no-padding class="col-xs-4 text-center">
        <ion-card padding (click)="multiply(100)">
            <ion-card-title>00</ion-card-title>
        </ion-card>
    </div>
</div>