<ion-header id="transactionListHeader">
    <img src="../assets/logo.png" />
    <ion-navbar padding>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Transactions Report</ion-title>
        <ion-buttons end>
            <button ion-button>Print Report</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
  <div class="row" no-margin>

    <div class="col-xs-4 dates-list" no-padding>
      <h2>
          Select date to view report
      </h2>
      <ion-scroll scrollY="true" scroll-height [calcHeight]="['transactionListHeader']">
          <div padding class="bordered-list">
            <div class="row" *ngFor="let date of dates" (click)="filterByDate(date)" no-margin
                 [ngClass]="{'active': compareDates(activeDate, date)}">
              <div class="col-xs-12" no-padding>
                  <span>{{isDateToday(date) ? 'Today' : date | date}}</span>
              </div>
            </div>
          </div>
      </ion-scroll>
    </div>

    <div class="col-xs-8 trans-list" no-padding>
        <div class="row" no-margin>
            <div class="col-xs-12" margin-bottom>
                <p class="report-header">
                    <strong>{{activeDate | date}}</strong>
                    <strong class="pull-right">Total: {{currency}}{{getTotal().toFixed(2)}}</strong>
                </p>
            </div>
            <div class="col-xs-4">
                <strong>Time</strong>
            </div>
            <div class="col-xs-4 text-center">
                <strong>Type</strong>
            </div>
            <div class="col-xs-4 text-center">
                <strong>Price</strong>
            </div>
        </div>
        <ion-scroll scrollY="true" scroll-height [calcHeight]="['transactionListHeader']">
            <div class="row" *ngFor="let trans of filteredTransactions" (click)="openDetailPage(trans)">
                <div class="col-xs-4">
                    <span>{{trans.timestamp | date:'mediumTime'}}</span>
                </div>
                <div class="col-xs-4 text-center">
                    <span>{{trans.paymentType}}</span>
                </div>
                <div class="col-xs-4 text-center">
                    <span>{{currency}}{{trans.total.toFixed(2)}}</span>
                </div>
            </div>
        </ion-scroll>
    </div>
  </div>
</ion-content>
