page-transactions-history {
  .bordered-list{
    line-height: 34px;
  }
  .dates-list {
    .active {
      background-color: $button_start_gradient_color;
      color: #fff;
    }
  }
  .trans-list {
    .row:not(:first-child) {
      border-radius: $row_border-radius;
      padding: 13px 10px;
      margin-top: 15px;
      background-color: rgb(224, 223, 223);
    }
  }
}
