<ion-header>
    <ion-navbar padding>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Products Report</ion-title>
        <ion-buttons end>
            <button ion-button>Print Report</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="row" no-padding>

    <div class="col-xs-4">
      <ion-toolbar>
        <ion-title>
          Select date to view report
        </ion-title>
      </ion-toolbar>
      <div padding class="bordered-list dates-list">
        <div class="row" *ngFor="let date of dates" (click)="filterByDate(date)"
             [ngClass]="{'active': compareDates(activeDate, date)}">
          <div class="col-xs-12">
              <span>{{isDateToday(date) ? 'Today' : date | date}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-8 trans-list" padding>
        <div class="row">
            <div class="col-xs-12" margin-bottom>
                <strong>{{activeDate | date}}</strong>
                <strong class="pull-right">Total: {{currency}}{{getTotal()}}</strong>
            </div>
            <div class="col-xs-4">
                <strong>Product</strong>
            </div>
            <div class="col-xs-4 text-center">
                <strong>Amount</strong>
            </div>
            <div class="col-xs-4 text-center">
                <strong>Price</strong>
            </div>
        </div>
        <div class="row" *ngFor="let product of filteredProducts">
            <div class="col-xs-4">
                <span>{{product.name}}</span>
            </div>
            <div class="col-xs-4 text-center">
                <span>{{product.amount}}</span>
            </div>
            <div class="col-xs-4 text-center">
                <span>{{currency}}{{product.price * product.amount}}</span>
            </div>
        </div>
    </div>
  </div>
</ion-content>
