category {
  .--header {
    padding: 10px;
  }
  ion-title{
    display: inline-block;
    vertical-align: middle;
  }
  .black-btn {
    text-transform: none;
    color: #404d59;
    font-weight: 400;
  }
}
.category-item {
  margin: 12px 6px 0 6px;
  width: auto;
  height: 114px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  ion-card-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translateY(-50%, -50%);
    font-weight: bold;
  }
}

@media (max-width: 723px) {
  category {
    .--header {
      padding: 5px;
    }
  }
}
