<div class="row" no-margin>
    <div no-padding [ngClass]="getClasses(product)" *ngFor="let product of products" (click)="selectProduct(product)">
        <ion-card [ngStyle]="{'background': product.bgColor, 'color': product.txtColor }" class="product-item">
            <ion-card-header>
                {{product.name}}
            </ion-card-header>
            <ion-card-content>
                {{currency}}{{product.price}}
            </ion-card-content>
        </ion-card>
    </div>
</div>
