// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  mp_grey: #f0f0f0,
  mp_dark_grey: #404d59
);

/* general variables */

$main_bg_color: #f0f0f0;
$title_txt_color: #384653;
$divider_color: #c7c7cd;

$title_bg_color:  #EAEAEA;
$title_color: #656565;

$title_additional_color: #1c68ac;

$cell_border: rgba(197, 190, 194, 0.64);
$cell-txt_color: #6e6e6e;

$dark_green_bg: #34495E;

/* end general variables */

$row-border: rgb(216, 216, 216);
$row_border-radius: 18pt;

$button-round-padding: 0  0.8em;
$button-md-large-height: 2.6em;
$button-md-large-font-size: 1.8rem;

$content-padding: 10px;
$toolbar-background: #fff;

$segment-button-md-font-size: 1.9rem;

$button-md-font-size: 2.1rem;
$button-md-height: 4.8rem;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
