// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ion-top-menu {
  position: absolute;
  height: 0;
  width: 100%;
  background: #333;
  color: white;
  z-index: 10;
  transition: all .5s;
}

.side-list {
  ion-navbar {
    .toolbar-background {
      background-color: #EAEAEA;
    }
  }
  ion-scroll {
    height: 85vh;
    background-color: #F0F0F0;
    .row {
      background-color: #FFF;
    }
    strong {
      font-size: 1.2em;
    }
    button + strong {
      vertical-align: -webkit-baseline-middle;
      display: inline-block;
    }
  }
}

.mp_gradient {
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgb(67,206,162)), color-stop(100, rgb(24,90,157)));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(right, rgb(67,206,162) 0%, rgb(24,90,157) 100%);
  /* W3C Markup */
  background-image: linear-gradient(to left, rgb(67,206,162) 0%, rgb(24,90,157) 100%);
}

ion-icon {
  font-size: 0.8em;
}