// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ion-top-menu {
  position: absolute;
  height: 0;
  width: 100%;
  background: #333;
  color: white;
  z-index: 10;
  transition: all .5s;
}

ion-header {
  img {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.side-list {
  ion-navbar {
    .toolbar-background {
      background-color: #EAEAEA;
    }
  }
  ion-scroll {
    height: 85vh;
    background-color: #F0F0F0;
    .row {
      background-color: #FFF;
    }
    strong {
      font-size: 1.2em;
      &.amount{
        position: relative;
        top: 10px;
      }
    }
    button + strong {
      &.amount{
        position: relative;
        top: 5px;
      }
    }
  }
}

.mp_gradient {
  /* Webkit (Safari/Chrome 10) */
  background: -webkit-gradient(linear, right top, left top, color-stop(0, rgb(67,206,162)), color-stop(100, rgb(24,90,157)));
  /* Webkit (Chrome 11+) */
  background: -webkit-linear-gradient(right, rgb(67,206,162) 0%, rgb(24,90,157) 100%);
  /* W3C Markup */
  background: linear-gradient(to left, rgb(67,206,162) 0%, rgb(24,90,157) 100%);
  text-transform: none;
  &.reverse {
    /* Webkit (Safari/Chrome 10) */
    background: -webkit-gradient(linear, left top, right top, color-stop(0, rgb(67,206,162)), color-stop(100, rgb(24,90,157)));
    /* Webkit (Chrome 11+) */
    background: -webkit-linear-gradient(left, rgb(67,206,162) 0%, rgb(24,90,157) 100%);
    /* W3C Markup */
    background: linear-gradient(to right, rgb(67,206,162) 0%, rgb(24,90,157) 100%);
  }
}

.md {
  ion-menu {
    .menu-inner {
      @extend .mp_gradient;
    }
  }
}

.report-page {
  .bordered-list{
    line-height: 34px;
    .row {
      background-color: #fff;
    }
  }
  .dates-list {
    background-color: $main_bg_color;
    h2 {
      padding: 25px 15px;
      margin: 0;
      text-align: center;
      font-size: 1.5rem;
      color: $title_color;
      background-color: $title_bg_color;
    }
    .col-xs-12 {
      line-height: 4.5rem;
    }
    span {
      font-weight: 700;
      font-size: 1.5rem;
      padding: 0 10px;
    }
    .active {
      @extend .mp_gradient;
      color: #fff;
    }
  }
  .trans-list {
    & > .row {
      font-weight: 500;
      font-size: 1.7rem;
      color: $title_txt_color;
      border-bottom: 1px solid $divider_color;
      padding-bottom: 10px;
      margin: 0 15px;
    }
    ion-scroll {
      .row {
        border-radius: $row_border-radius;
        padding: 13px 10px;
        background-color: $main_bg_color;
        margin: 15px 10px 0;
        &:first-child {
          margin-top: 10px;
        }
        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
  .report-header {
    color: $title_additional_color;
    padding: 15px 0 5px;
    font-weight: 500;
    font-size: 1.6rem;
    strong {
      &:last-child {
        margin-right: 15px;
      }
    }
  }
}

.details-info {
  ion-list-header {
    background-color: transparent;
  }
  .list-header-md {
    margin: 0;
    padding: 0 !important;
  }
  .col-xs-4 {
    background-color: #EAEAEA;
  }
  .side-list {
    .item-md {
      padding: 20px;
      background-color: transparent;
      border-bottom: 1px solid $cell_border;
      .row {
        background-color: transparent;
      }
      ion-label {
        text-align: left;
        font-size: 1.6rem;
        background-color: transparent;
      }
    }
  }
  .item-md.item-input {
    &.ng-valid.input-has-value:not(.input-has-focus), &.ng-valid.input-has-value, &.ng-pristine, &.ng-dirty, &.ng-touched {
      .item-inner {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }
  .item-input.item-md {
    &, &.ng-valid.input-has-value, &.ng-valid.ng-pristine, &.ng-valid.ng-dirty,
    &.ng-valid.ng-pristine.ng-touched {
      .label-md {
        color: black !important;
        font-weight: 400;
        padding: 0;
      }
    }
  }
  .bar-button-md {
    padding: 0 12px;
    height: 45px;
  }
  .list-md .item-block .item-inner {
    border-bottom: none;
    padding: 0;
  }
  .toolbar-title-md {
    text-align: left;
    padding: 0;
  }
  .label-md {
    margin: 11px 0;
  }
  .label.label-md {
    .row {
      & > * {
        padding: 0 5px;
      }
    }
  }
  .label {
    padding: .2em .6em .3em;
  }
  .button-inner {
    text-transform: none;
  }
  input {
    font-size: 2.3rem;
    color: $cell-txt_color
  }
  .block-title {
    padding: 15px 15px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    color: $cell-txt_color;
    font-size: 1.8rem;
    margin: 25px 10px;
    background-color: color($colors, mp_grey, base);
  }
}

.confirm-block {
  @extend .mp_gradient;
  color: #fff;
  .flex_cont {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  img {
    width: 70px;
    margin-bottom: 25px;
  }
  p {
    font-size: 2.1rem;
    margin-bottom: 45px;
  }
  .lined {
    padding: 15px 0;
    border-top: 1px solid $row-border;
    border-bottom: 1px solid $row-border;
    margin-bottom: 45px;
    p {
      margin: 0;
      font-size: 1.8rem;
      strong {
        font-size: 2.6rem;
      }
    }
  }
  .button-md {
    min-width: 250px;
    padding: 0 1em;
    height: 8.5rem;
    span {
      font-weight: 400;
      text-transform: none;
      color: $title_txt_color;
    }
    &:first-child {
      margin-right: 60px;
    }
  }
}

ion-icon {
  font-size: 0.8em;
}
button[menuClose]:not([ion-item]) {
  color: #fff;
  padding: 1em;
  height: auto;
  width: initial;
  position: absolute;
  top: 15px;
  left: 15px;
  img {
    width: 2vw;
  }
}

/*ion-backdrop {
  background-color: rgba(255,255,255,.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  opacity: 1 !important;
}*/
ion-backdrop {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  opacity: 1 !important;
  background-color: rgba(256, 256, 256, 0.9);
}