// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.ion-top-menu {
  position: absolute;
  height: 0;
  width: 100%;
  background: #333;
  color: white;
  z-index: 10;
  transition: all .5s;
}

.side-list {
  ion-navbar {
    .toolbar-background {
      background-color: #EAEAEA;
    }
  }
  ion-scroll {
    height: 85vh;
    background-color: #F0F0F0;
    .row {
      background-color: #FFF;
    }
    strong {
      font-size: 1.2em;
      &.amount{
        position: relative;
        top: 10px;
      }
    }
    button + strong {
      &.amount{
        position: relative;
        top: 5px;
      }
    }
  }
}

.mp_gradient {
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgb(67,206,162)), color-stop(100, rgb(24,90,157)));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(right, rgb(67,206,162) 0%, rgb(24,90,157) 100%);
  /* W3C Markup */
  background-image: linear-gradient(to left, rgb(67,206,162) 0%, rgb(24,90,157) 100%);
  text-transform: none;
  &.reverse {
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgb(67,206,162)), color-stop(100, rgb(24,90,157)));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, rgb(67,206,162) 0%, rgb(24,90,157) 100%);
    /* W3C Markup */
    background-image: linear-gradient(to right, rgb(67,206,162) 0%, rgb(24,90,157) 100%);
  }
}

.report-page {
  .bordered-list{
    line-height: 34px;
    .row {
      background-color: #fff;
    }
  }
  .dates-list {
    background-color: $main_bg_color;
    h2 {
      padding: 25px 15px;
      margin: 0;
      text-align: center;
      font-size: 1.5rem;
      color: $title_color;
      background-color: $title_bg_color;
    }
    .col-xs-12 {
      line-height: 4.5rem;
    }
    span {
      font-weight: 700;
      font-size: 1.5rem;
      padding: 0 10px;
    }
    .active {
      @extend .mp_gradient;
      color: #fff;
    }
  }
  .trans-list {
    & > .row {
      font-weight: 500;
      font-size: 1.7rem;
      color: $title_txt_color;
      border-bottom: 1px solid $divider_color;
      padding-bottom: 10px;
      margin: 0 15px;
    }
    ion-scroll {
      .row {
        border-radius: $row_border-radius;
        padding: 13px 10px;
        background-color: $main_bg_color;
        margin: 15px 10px 0;
        &:first-child {
          margin-top: 10px;
        }
        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
  .report-header {
    color: $title_additional_color;
    padding: 15px 0 5px;
    font-weight: 500;
    font-size: 1.6rem;
    strong {
      &:last-child {
        margin-right: 15px;
      }
    }
  }
}

ion-icon {
  font-size: 0.8em;
}